<%- include('../partials/header') %>
<div class="container">
    <div class="card">
        <div class="card-header bg-success text-white">Tambah Aktivitas</div>
        <div class="card-body">
            <% if(error.length > 0){ %><div class="alert alert-danger"><%= error %></div><% } %>
            <form action="/activities/store" method="POST">
                <div class="mb-3"><label>Judul</label><input type="text" name="judul_aktivitas" class="form-control" required></div>
                <div class="mb-3">
                    <label>Kategori</label>
                    <select name="kategori" class="form-select" required>
                        <option value="Kuliah">Kuliah</option><option value="Kerja">Kerja</option><option value="Hobi">Hobi</option>
                    </select>
                </div>
                <div class="mb-3"><label>Tanggal</label><input type="date" name="tanggal" class="form-control" required></div>
                <button class="btn btn-success">Simpan</button>
                <a href="/activities" class="btn btn-secondary">Batal</a>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>